<h1>User info</h1>
Name
<%= user.name %></br>
Introduction
  <p><%= link_to "プロフィール編集", edit_user_path(user) %></p>
  <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.jpg" %>
